 *{
  text-decoration: none;
  box-sizing: border-box;
  list-style: none; 
  padding: 0px;
}

.App{
   margin: 0;
  display: flex;
  flex-direction: row; 
 background-color: rgb(0, 93, 160);
  border-radius: 10px;
  justify-content: center;
  height: 560px;
    
}
.app_child{

  width: fit-content;
  padding: 30px;
  width: 500px;
  height: 300px;
  margin-top: 20vh;
  border-radius: 20px;
  border:1px solid white ;

}
.input1 input{
  width: 300px;
  border: none;
  border-radius: 10px;
  height: 40px;    

}
.input2 input{
  width: 300px;
  height: 40px;
  border-radius: 10px;

}

@media only screen and (max-width: 500px) {
 .app_child{
    width: 300px;
 }
 
}
